# Default ignored files
/shelf/
/.idea/workspace.xml
../.idea
.gradle
.idea
build
../.idea/compiler.xml
../.idea/gradle.xml
../.idea/jarRepositories.xml
../.idea/java-project-71.iml
../.idea/misc.xml
../.idea/modules.xml
../.idea/modules/
../.idea/vcs.xml
app.iml
../.idea